#root {
  /*max-width: 1280px;*/
  width: 100%;
  height: 100%;
  top:0;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow-x: hidden;
}

.nameplateContain {
  display: flex;
  flex-direction: column; /* Stacks items vertically */
  justify-content: center; 
}

.pfp {
  width : 50%;
  object-fit: contain;
  margin: auto;
  padding: 1em;
  display:block;
  will-change: filter;
  transition: filter 300ms;
}
.pfp:hover {
  filter: drop-shadow(0 0 1em #7dec45aa);
}

.homeplate {
  float: left;
  padding-left: 1em;
  text-align: left;
  margin-top: unset;
  padding-top: 1vh;
  font-size: 1.6vw;
  will-change: text-shadow;
  transition: text-shadow 300ms;
  color:white;
  text-decoration: none;
  font-size: 1.6vw;
}
.homeplate:hover {
  text-shadow: 0 0 2.5vh #0cc0e0aa;
}

.nameplate {
  float: left;
  padding-left: 1em;
  text-align: left;
  margin-top: unset;
  font-size: 1.6vw;
}


.container {
  display: grid;
  grid-template-columns: [line01] 15% [line02] 75% [line03];
  height: 100vh;
}
.sidebarContain {
  grid-column-start: line01;
  grid-column-end: line02;
}
.sidebar {
  background-color: dimgray;
  height: 100vh;
  width: 15%;
  grid-column-end: line01;
  overflow: hidden;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  position: fixed;
  top: 0 !important;
}
.maincontent {
  grid-column: [line02] / [line03];
  height:auto;
  top:0;
  overflow-y: auto;
}

.blogContain {
  display: grid;
  grid-template-columns: [line11] 20% [line12] 60% [line13] 20% [line14];
  height: inherit;
  top:0;
}
.postHeader {
  grid-column: line12 / line13;
  text-align: left;
  margin-bottom: 0.25em;
}
.postContain {
  grid-column: line12 / line13;
  outline: solid #7dec45aa;
  border-radius: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.postTitle {
  margin: 0.6em 0.3em 0.3em 0.6em;
  text-align: left;
}
.postContain:hover {
  text-shadow: 0 0 1.5vh #0cc0e0aa;
}
.postDescription {
  margin: 0.3em 0.3em 0.6em 0.6em;
  text-align: left;
}
.postContain:hover {
  text-shadow: 0 0 1.5vh #0cc0e0aa;
}
